body {
  font-family: "Lato",sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  font-weight: 100;
  font-size: 4em;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 .2em 0;
  font-weight: 100;
  font-size: 3em;
}

h3 {
  margin: 20px 0 0 0;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

a:link {
  margin: 0;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f8981c;
}



img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

hr {
  width: 100%;
  height: 6px;
  background-color: #b6b6b6;
  border: 0;
  margin: .8em 0;
}

.container {
  width: 90%;
  margin: 20px 5%;
}

header, footer, main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header-logo {
  width: 50%;
}

.header-logo img {
  margin: 10px 0;
}

.header-text {
  width: 50%;
  text-align: right;
}

.main-pict {
  width: 100%;
}

.featured-text {
  width: 100%;
  margin-top: .8em;
}

.featured-boxes {
  width: 32%;
  text-align: center;
  margin: 0 0 2em 0;
}

.featured-boxes img {
  width: 100%;
}

.footer-copyright {
  width: 100%;
  background-color: #b6b6b6;
  color: white;
  padding-left: 1em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ====================
    MOBILE | 0 -> 667px
   ==================== */

@media only screen and (max-width: 667px) {

.header-logo, .header-text {
  width: 100%;
  text-align: center;
}

.header-logo img {
  width: 25%;
  height: 25%;
  margin: 10px auto;
}

.featured-boxes {
  width: 100%;
}

body {
font-size: 14px;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 2em;
  margin-top: 0;
}

h4 {
  font-size: 1em;
}

hr {
  height: 3px;
}

.footer-copyright p {
  padding-left: 0;
  text-align: center;
}
}


/* ========================
    TABLET | 668px -> 1139px
   ======================== */

@media only screen and (min-width: 668px) and (max-width: 1139px){

.header-logo {
  width: 40%;
}

.header-text {
  width: 60%;
}

.header-logo img {
  width: 50%;
  height: 50%;
}

body {
font-size: 14px;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  margin: 10px 0 0 0;
}

h4 {
  font-size: 1.5em;
}

hr {
  height: 4px;
}

}


/* ===========================
    COMPUTER | 1140px -> ...px
   =========================== */

@media only screen and (min-width: 1140px) {

.container {
  width: 1026px; /* 1140px - 10% for margins */
  margin: 20px auto;
}
}

